[Desktop Entry]
Name=NoSqlBooster
Exec=/home/leonardo/app/NoSQLBooster/nosqlbooster4mongo-8.1.9.AppImage
Comment=NoSqlBooster
Terminal=false
Type=Application
